{% macro forum_list_tabs() %}
  <ul class="unlistify nav">
    {% with { active: app.request.attributes.get('_route') == 'forum_list' } %}
      <li>
        <a href="{{ path('forum_list') }}" class="tab {{ active ? 'tab--active' }}">
          {{- 'forum_list.list_view'|trans -}}
        </a>
      </li>
    {% endwith %}
    {% with { active: app.request.attributes.get('_route') == 'forums_by_category' } %}
      <li>
        <a href="{{ path('forums_by_category') }}" class="tab {{ active ? 'tab--active' }}">
          {{- 'forum_list.category_view'|trans -}}
        </a>
      </li>
    {% endwith %}
  </ul>
{% endmacro %}

{% macro create_forum() %}
  {% if is_granted('create_forum') %}
    <p role="navigation">
      <a href="{{ path('create_forum') }}" class="button">{{ 'forum_list.create_forum'|trans }}</a>
    </p>
  {% elseif is_granted('ROLE_USER') %}
    {% embed '_layouts/alert.html.twig' %}
      {% block alert_paragraph 'flash.you_cannot_create_forums_yet'|trans %}
    {% endembed %}
  {% endif %}
{% endmacro %}
