{% extends 'base.html.twig' %}
{% from '_macros/post_nav.html.twig' import submission_sort, submission_time %}
{% from 'submission/_macros.html.twig' import submission %}

{% block head %}
  {{ include('_includes/meta_pagination.html.twig', {pager: submissions}, with_context=false) }}
{% endblock %}

{% block title '/f/'~forums|join(', /f/') %}

{% block body %}
  <nav class="nav nav--guttered">
    <ul class="unlistify nav">
      {{ submission_sort(sort_by) }}
      {{ submission_time(sort_by) }}
    </ul>
  </nav>

  {% for submission in submissions %}
    {{ submission(submission) }}
  {% endfor %}

  {{ include('_includes/pagination.html.twig', {pager: submissions}, with_context=false) }}
{% endblock %}

{% block sidebar %}
  <section class="sidebar__section sidebar-card">
    <h1 class="sidebar__title">{{ 'heading.multi_forum_view'|trans }}</h1>

    <ul class="unlistify sidebar__no-padding">
      {% for forum in forums %}
        <li><a href="{{ path('forum', {forum_name: forum}) }}" class="menu-item">{{ forum }}</a></li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
